<aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Main Menu</label></li>
		<li><a class="menu_item" href="{{@blog.url}}">Home</a></li>
		<li><a class="menu_item" href="{{@blog.url}}/about">About</a></li>
		<li><a class="menu_item" href="#">Typography</a></li>
		<li><a class="menu_item" href="{{@blog.url}}">Tutorials</a></li>
		<li><a class="menu_item" href="#">Download</a></li>
        <li><label>Follow</label></li>
        <li><a class="menu_item" href="http://twitter.com/northernfolks">Twitter</a></li>
        <li><a class="menu_item" href="http://facebook.com/northernfolks">Facebook</a></li>
        <li><a class="menu_item" href="http://google.com">Google+</a></li>
        <li><a class="menu_item" href="http://pinterest.com">Pinterest+</a></li>
        <li><a class="menu_item" href="http://youtube.com">Youtube</a></li>
	</ul>
</aside>