<a href="#" class="overlay"></a>


<header class="header" role="banner" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div id="inner-header" class="sevencol animate fadeInUp wrap clearfix" >

        <!-- Menu -->
        <div class="menu-toggle">
            <a href="#" class="icon icon-align-left onHoverPulse"></a>
        </div>

        <!-- Mail -->
        <div id="mail">
            <a href="#" class="mail-icon onHoverSpin">Mail</a>
        </div>

        {{#if @blog.logo}}
            <!-- Logo -->
            <div id="logo">
                <a id="logo" href="/"><img src="{{@blog.logo}}" alt="Logo"></a>
            </div>
        {{else}}
            <div id="site-title" class="h1">
                <a href="/" rel="nofollow">{{@blog.title}}</a>
            </div>        
        {{/if}}


    </div> <!-- end #inner-header -->

</header> <!-- end header -->