<nav class="nav" role="navigation">
    <div id="inner-nav" class="sevencol wrap clearfix">
        <ul class="menu">
            <li><a href="/" class="active">Index</a></li>
            <li><a href="/rss">Rss</a></li>
        </ul>

        <ul class="social-icons">
            <li><a href="http://www.facebook.com/yourfacebookaccoun"><span class="symbol">roundedfacebook</span></a></li>
            <li><a href="http://www.twitter.com/yourtwitterusername"><span class="symbol">roundedtwitter</span></a></li>
            <li><a href="http://www.yourinstagram.com"><span class="symbol">roundedinstagram</span></a></li>
            <li><a href="http://www.dribbble.com/yourdribbbleusername"><span class="symbol">roundeddribble</span></a></li>
        </ul>
        <a href="#" class="close onHoverPulse">Close</a>
    </div>
</nav>