<div id="showcase">
	<div class="blog_cover">
	    <div class="showcase_overlay">
			<div class="row">
				<div class="medium-8 medium-centered columns">
					<div class="block">
						<div class="text-center">
				            {{#post}}
				            <div class="block">
				                <article class="{{post_class}}">
				                    <div class="post_header target">
				                        <h2 class="post_title target">{{{title}}}</h2>
				                    </div>
				                </article>
				            </div>
				            {{/post}}
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>